header {
  min-height: 20px;
}

body {
  background: #dddddd;
}

.card {
  margin: 20px 0;
}

span {
  font-size: 1rem;
}

.swiper {
  width: 100%;
}

img {
  max-width: 100%;
}

/* index */
.header{
  line-height: 60px;
  background: #23877e;
  color: #fff;
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 40px;
  box-shadow: 0 5px 5px rgb(35 135 126 / 50%);
}

.map {
  position: relative;
  max-width: 627px;
  margin: auto;
}

.map-img {
  overflow: hidden;
  border-radius: 10px;
}

.map-points {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.point {
  position: absolute;
  display: inline-block;
  min-width: 16px;
  min-height: 16px;
  background: #ffeb4a;
  width: auto;
  height: auto;
  border-radius: 50px;
  border: 3px solid #527149;
}

.point.active, .point:hover{
  background: #406d36;
  border-color: #fff;
  box-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
  z-index: 99;
}

.people, .people.point.active, .people:hover {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.point>img {
  display: block;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.6));
  transition: transform 0.3s;
}

.point.active>img, .point:hover>img {
  transform: scale(1.2);
  transition: transform 0.3s;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
}

.photo img{
  display: none;
  width: 100%;
  margin-bottom: 10px;
}

.black .modal-content{
  background: #324e48;
  border: 0;
}

.black .modal-header{
  border-color: #969696;
}

.imgTemp{
  display: none;
  pointer-events: none;
  position: absolute;
  width: 200px;
  padding: 6px;
  border-radius: 6px;
  background: #4d4a43;
}
.map-new{
  margin-bottom: 20px;
}
.map-new img{
  overflow: hidden;
  border-radius: 10px;
}
.ss{
  padding: 10px;
  display: block;
  background: #69b5a6;
  margin-bottom: 15px;
  border-radius: 7px;
}
.ss:hover{
  box-shadow: 1px 3px 3px rgb(0 0 0 / 60%);
}
.photo-title{
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 0;
}
@media (min-width:500px) {
  .point:hover .imgTemp{
    display: block;
    z-index: 9999;
  }
}

/* points */
#point_1 {top:426px;left:244px;}
#point_2 {top:450px;left:201px;}
#point_3 {top:426px;left:485px;}
#point_4 {top:464px;left:112px;}
#point_5 {top:445px;left:525px;}
#point_6 {top:407px;left:386px;}
#point_7 {top:366px;left:470px;}
#point_8 {top:382px;left:510px;}
#point_9 {top:351px;left:376px;}
#point_10 {top:351px;left:414px;}
#point_11 {top:433px;left:60px;}
#point_12 {top:376px;left:86px;}
#point_13 {top:502px;left:336px;}
#point_14 {top:464px;left:357px;}
#point_15 {top:433px;left:322px;}
#point_16 {top:495px;left:441px;}
#point_17 {top:546px;left:450px;}
#point_18 {top:545px;left:182px;}
#point_19 {top:295px;left:443px;}
#point_20 {top:289px;left:517px;}
#point_21 {top:194px;left:497px;}
#point_22 {top:464px;left:175px;}
#point_23 {top:389px;left:260px;}
#point_24 {top:414px;left:196px;}
#point_25 {top:357px;left:182px;}
#point_26 {top:263px;left:329px;}
#point_27 {top:219px;left:392px;}
#point_28 {top:545px;left:518px;}
#point_29 {top:207px;left:142px;}
#point_30 {top:314px;left:264px;}
#point_31 {top:219px;left:224px;}
#point_32 {top:169px;left:319px;}
#point_33 {top:169px;left:231px;}
#point_34 {top:270px;left:112px;}
#point_35 {top:150px;left:393px;}
#point_36 {top:163px;left:567px;}
#point_37 {top:558px;left:77px;}
#point_38 {top:196px;left:47px;}
#point_39 {top:345px;left:322px;}
#point_40 {top:314px;left:350px;}