@font-face {
  font-family: blue-font;
  src: url('../fonts/part2/BgFont.eot');
  src: url('../fonts/part2/BgFont.eot?#iefix') format('embedded-opentype'),
    url("../fonts/part2/BgFont.woff2") format("woff2"),
    url("../fonts/part2/BgFont.woff") format("woff"),
    url('../fonts/part2/BgFont.ttf') format('truetype');
}

body, html {
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei, 'PingFangSC-Regular';
}

* {
  box-sizing: border-box;
}

body {
  background: #000;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.mla {
  margin-left: auto;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

img {
  max-width: 100%;
  display: inline-block;
}

.main {
  margin: 0 auto;
}

/* header */
header {
  background: #131521;
  height: 60px;
  width: 100%;
}

.game-title {
  color: #fff;
  line-height: 60px;
}

.logo {
  margin: 10px auto;
  flex-grow: 1;
  padding-right: 42px;
}

.logo-img {
  height: 40px;
}

.s-lang {
  width: 40px;
}

/* userbar */
.user-m {
  height: 40px;
  padding: 5px 0;
  background: #fff;
}

.user-n {
  width: 50%;
  color: #d48986;
  line-height: 30px;
  border-right: 1px solid #657682;
  padding: 0 5px;
}

.user-w {
  width: 50%;
  color: #737476;
  line-height: 30px;
  padding: 0 5px;
}

.user-img {
  height: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

.user-w span {
  text-decoration: underline;
}

/* game */
.game {
  background: url(../images/bj.png) center 46% no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

.gm-btn {
  width: 40px;
  padding: 2px 1px;
}

/* game-main */
.keno-sz {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
  padding: 5px;
}

.ksz-btn {
  background: url(../images/ken_kuan_lan.png) center no-repeat;
  background-size: 95%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all .2s;
}

.ksz-btn:hover {
  background-size: 92%;
}

.ksz-btn span {
  position: absolute;
  font-family: 'blue-font';
  color: #fff;
  -webkit-text-stroke: 1px #000;
  font-size: 20px;
}

/* 選擇 */
.kbtn-active {
  background: url(../images/ken_kuan_hong.png) center no-repeat;
  background-size: 95%;
}

.kbtn-active:hover {
  background-size: 95%;
}

/* 無法選擇 */
.kbtn-an {
  background: url(../images/ken_kuan_an.png) center no-repeat;
  background-size: 95%;
}

.kbtn-an:hover {
  background-size: 95%;
}

/* 中獎 */
.kbtn-zj {
  background: url(../images/ken_kuan_xz.png) center no-repeat;
  background-size: 95%;
}

.kbtn-zj:hover {
  background-size: 95%;
}

/* 沒中獎 */
.kbtn-mj {
  background: url(../images/ken_kuan_lan.png) center no-repeat, url(../images/ken_kuan_lan2.png) center no-repeat;
  background-size: 95%, 100%;
}

.kbtn-mj:hover {
  background-size: 95%, 100%;
}

.keno-bl {
  padding: 0 5px 5px;
  justify-content: space-between;
}

.kbl-empty {
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: 'blue-font';
  text-shadow: 1px 1px 0 #000;
  font-size: 14px;
}

.kbj-hit {
  background: url(../images/ken_zt_an.png) center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-size: 10px;
  width: 10%;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
}

.kbj-hit-zj {
  background: url(../images/ken_zt_gl.png) center no-repeat;
  background-size: 100% 100%;
  color: #237291;
}

.kh-x {
  font-weight: bold;
}

.kh-hit {
  color: #797979;
}

.kbj-hit-zj .kh-hit {
  color: #237291;
}

/* bet-menu */
.bet-menu {
  background: url(../images/bet/ty_db.png) top center no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
  padding: 24px 12px 0;
  color: #fff;
}

.bet-dropdown {
  position: relative;
}

.bd-select {
  background: #f8fdfe;
  width: 100%;
  border-radius: 60px;
  line-height: 40px;
  padding: 0 20px;
}

.bds-t {
  color: #8f98a7;
  padding-right: 10px;
  font-size: 16px;
}

.bds-c {
  color: #1f99b4;
  font-size: 22px;
  font-weight: bold;
}

.bds-i {
  margin-left: auto;
}

.bds-img {
  vertical-align: middle;
  width: 24px;
}

.bd-menu {
  position: absolute;
  background: #657682;
  border: 4px solid #b5c4cb;
  border-radius: 10px;
  right: 8px;
  top: 32px;
  z-index: 999;
  display: none;
}

.bdm {
  line-height: 3;
  color: #fff;
  text-align: center;
  padding: 0 25px;
}

.bdm.bdm-s {
  background: #2baac9;
}

.bm-menu {
  background: #f8fdfe;
  border-radius: 20px 20px 0 0;
  padding-bottom: 6px;
  margin-top: 8px;
}

.bm-l-all {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.bm-l-pc {
  padding: 15px 0 7px 7px;
  flex-direction: column;
  justify-content: space-between;
}

.btn-c {
  background: url(../images/bet/btn_c.png) center no-repeat;
  background-size: 100% 100%;
  font-family: 'blue-font';
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.bm-l {
  padding: 15px 10px 7px;
  flex-grow: 1;
}

.ba {
  background: #657682;
  border-radius: 10px;
  box-shadow: inset 0 0 7px rgb(0 0 0 / 50%);
  padding: 5px 15px;
  text-align: center;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ba-m {
  font-family: 'blue-font';
  text-shadow: 1px 1px 0 #000;
  font-size: 18px;
  padding: 0 0 10px;
  color: #fff;
  background: transparent;
  box-shadow: none;
  border: 0;
  text-align: center;
}

.ba-m:focus,
.ba-m:visited,
.ba-m:active {
  border: 0;
  outline: 0;
}

.ba-text {
  color: #a2a8a9;
  border-top: 1px solid #a2a8a9;
  font-size: 16px;
  padding-top: 10px;
}

.bm-c {
  padding: 15px 7px 7px 0;
  flex-direction: column;
  justify-content: space-between;
}

.bm-r {
  position: relative;
  min-width: 130px;
  padding: 12px 10px 4px;
}

.bet-btn {
  background: url(../images/bet/bet.png) center no-repeat;
  background-size: 100%;
  font-family: 'blue-font';
  -webkit-text-stroke: .5px #000;
  text-shadow: 0 1px #000;
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 100%;
  min-width: 40px;
  max-width: 100px;
  margin: 0 auto;
  display: block;
  letter-spacing: -1px;
}

.bb-pink {
  background: url(../images/bet/bet-pink.png) center no-repeat;
  background-size: 100% 100%;
}

.bb-gray {
  background: url(../images/bet/bet-gray.png) center no-repeat;
  background-size: 100% 100%;
}

/* bet-table */
.bet-table {
  display: table;
  width: 100%;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  background: #24a5c1;
  padding: 0 0 5px;
}

.bt-title {
  background: url(../images/table/tiao.png) repeat-x;
  background-size: auto 100%;
  display: table-header-group;
  font-family: 'blue-font';
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #0e416a;
  color: #fff;
}

.btt-th {
  display: table-cell;
  padding: 10px 15px;
}

.bt-row {
  display: table-row-group;
  font-family: 'blue-font';
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #0e416a;
  color: #fff;
}

.btt-td {
  display: table-cell;
  padding: 7px 15px;
  vertical-align: middle;
}

.text-green {
  color: #74ff00;
}

.text-red {
  color: #ff0f23;
}

.user-pc {
  align-items: center;
}

.user-img-pc {
  color: #fff;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

@media (min-width:540px) {

  /* game-main */
  .keno-sz {
    gap: 3px;
  }

  .ksz-btn span {
    font-size: 22px;
  }

  .kbj-hit {
    height: 90px;
  }
}

@media (min-width:769px) {
  .hide-in-pc {
    display: none;
  }

  body {
    background: url(../images/b5.png) top center no-repeat fixed;
    background-size: cover;
  }

  .game-title {
    font-size: 30px;
  }

  .contant {
    max-width: 1024px;
    margin: 20px auto;
    width: 100%;
  }

  .blue-bg-pc {
    background:
      url(../images/blue-bg-pc/blue_bg_lb.png) left bottom no-repeat,
      url(../images/blue-bg-pc/blue_bg_lt.png) left top no-repeat,
      url(../images/blue-bg-pc/blue_bg_rt.png) right top no-repeat,
      url(../images/blue-bg-pc/blue_bg_rb.png) right bottom no-repeat,
      url(../images/blue-bg-pc/blue_bg_t.png) center top repeat-x,
      url(../images/blue-bg-pc/blue_bg_l.png) left center repeat-y,
      url(../images/blue-bg-pc/blue_bg_r.png) right center repeat-y,
      url(../images/blue-bg-pc/blue_bg_b.png) center bottom repeat-x,
      #2DC6D9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 21px;
    padding: 20px;
  }

  .blue-bg-inner-pc {
    background: #E3FDFB;
    border-radius: 15px;
    padding: 3px 10px;
  }

  /* game */
  .pc-game-box {
    display: flex;
    margin-bottom: 10px;
  }

  .bet-game {
    flex-grow: 1;
  }

  .game {
    border-radius: 15px 15px 0 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .game-menu {
    padding: 12px 20px;
  }

  .gm-btn {
    width: 47px;
  }

  /* game-main */
  .kbl-empty {
    font-size: 18px;
    padding: 20px 0;
  }

  /* bet-menu */
  .bet-menu {
    margin: 0;
    background: transparent;
    padding: 0;
  }

  .bm-r {
    padding: 12px 0 4px;
    min-width: 100px;
  }

  .bm-menu {
    padding: 0 0 8px;
    background: transparent;
    border-radius: 0;
    margin: 0;
    gap: 10px;
  }

  .bm-l-pc {
    padding: 15px 0 7px 0;
  }

  .bm-c {
    padding-right: 2px;
  }

  .ba {
    padding: 10px;
  }

  .risk-pc {
    color: #7C7E7F;
    display: flex;
    padding: 22px 0 7px;
  }

  .risk-title {
    color: #8F99A7;
    padding-right: 5px;
  }

  .risk-radio {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .ri-list {
    display: flex;
    position: relative;
  }

  .ri-input {
    display: none;
  }

  .ri-list label {
    padding-left: 22px;
    cursor: pointer;
  }

  .ri-input+label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 5px;
    width: 14px;
    height: 14px;
    border: 1px solid #1F99B4;
    border-radius: 100%;
    background: transparent;
  }

  .ri-input:checked+label::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #1F99B4;
    position: absolute;
    top: 9px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease 0s;
  }

  /* bet-table */
  .bet-tabs {
    position: relative;
    width: 100%;
    padding-bottom: 7px;
    margin-top: -6px;
    margin-bottom: 8px;
  }

  .bet-tab-bar {
    position: absolute;
    width: 80px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    left: 19px;
    bottom: 0;
  }

  .bet-tab-btn {
    color: #585858;
    padding: 0 20px;
    line-height: 30px;
    transition: all .3s;
    cursor: pointer;
  }

  .bet-tab-btn.active {
    color: #fff;
    font-size: 20px;
  }

  .bet-tab-btn:hover {
    color: #fff;
    font-size: 20px;
  }

  .bet-table {
    background: transparent;
  }

  .bt-title, .bt-row {
    background: transparent;
    font-family: Microsoft YaHei, 'PingFangSC-Regular';
    text-shadow: none;
    color: #657682;
  }

  .btt-th {
    border-bottom: 1px solid;
  }

  .btt-coins {
    display: flex;
    align-items: center;
  }

  .btt-coin {
    width: 32px;
    display: block;
    margin-right: 5px;
  }

  .text-green {
    color: #00c228;
  }

  /* side-menu */
  .pc-side-menu {
    max-width: 230px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .side-user {
    padding: 10px 7px;
    margin-bottom: 20px;
  }

  .side-user .user-n {
    border: 0;
    width: 100%;
    padding-bottom: 5px;
    font-size: 18px;
  }

  .side-user .user-w {
    width: 100%;
    color: #585858;
    font-size: 18px;
  }

  .side-user .user-w span {
    text-decoration: none;
  }

  .side-user .currency {
    font-size: 13px;
    margin-left: 6px;
  }

  .side-seed {
    padding: 10px 9px;
    flex-grow: 1;
  }

  .ss-title {
    display: flex;
    align-items: center;
    border-bottom: 3px dashed #A0A0A0;
    padding: 0 5px 10px;
  }

  .ss-title img {
    width: 25px;
    margin-right: 9px;
  }

  .ss-tabs {
    position: relative;
    align-items: center;
    margin-top: 8px;
  }

  .st-active-bar {
    position: absolute;
    bottom: 4px;
    width: 58px;
    height: 2px;
    left: 13px;
    background: #585858;
  }

  .st-item {
    color: #718593;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
  }

  .st-item.active {
    font-size: 16px;
    margin-right: 20px;
    color: #585858;
  }

  .ss-label {
    color: #585858;
    font-size: 14px;
    padding: 15px 0 10px;
    display: flex;
    align-items: center;
  }

  .ss-value {
    background: #657682;
    border-radius: 8px;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 50%);
    padding: 0 10px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .ss-value span {
    color: #9DBACE;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 88%;
    font-size: 12px;
  }

  .ss-copy-btn {
    padding: 0;
  }

  .ss-copy-btn img {
    width: 15px;
    vertical-align: middle;
  }

  .ss-update-btn {
    padding-left: 5px;
  }

  .ss-update-btn img {
    width: 20px;
    vertical-align: middle;
  }

  .d-flex .ss-value {
    width: 49%;
  }

  .ss-v-btn {
    background: #2dc6d9;
    box-shadow: inset 0 -3px 7px rgb(0 0 0 / 20%);
    width: 49%;
    margin-left: 2%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }

  .ss-v-btn:hover {
    background: #39cfdd;
  }
}

@media (min-width: 1023px) {

  /* game-main */
  .game-keno {
    padding: 0 40px 10px;
  }

  .ksz-btn span {
    font-size: 30px;
  }

  .kbl-empty {
    font-size: 26px;
    padding: 30px 0;
  }

  .kbj-hit {
    height: 110px;
  }

  .kh-x {
    font-size: 14px;
  }

  .kh-hit {
    font-weight: bold;
  }

  /* bet-menu */
  .bm-menu {
    padding: 0 20px 8px;
    gap: 25px;
  }

  .risk-pc {
    font-size: 18px;
  }

  .risk-title {
    padding-right: 10px;
  }
}

@media (max-width:768px) {
  .hide-in-m {
    display: none;
  }

  .bm-r::before {
    content: '';
    display: block;
    position: absolute;
    height: 70%;
    border-left: 2px dashed #657682;
    top: 52%;
    left: 0;
    transform: translateY(-50%);
  }
}