@font-face {
  font-family: blue-font;
  /* src: url(../fonts/16121437948891.ttf); */
  src: url('../fonts/part2/BgFont.eot');
  src: url('../fonts/part2/BgFont.eot?#iefix') format('embedded-opentype'),
    url("../fonts/part2/BgFont.woff2") format("woff2"),
    url("../fonts/part2/BgFont.woff") format("woff"),
    url('../fonts/part2/BgFont.ttf') format('truetype');
}

body, html {
  padding: 0;
  margin: 0;
  font-family: Microsoft YaHei, 'PingFangSC-Regular';
}

* {
  box-sizing: border-box;
}

body {
  background: #000;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.mla {
  margin-left: auto;
}

.mcenter {
  margin-left: auto;
  margin-right: auto;
}

.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

img {
  max-width: 100%;
  display: inline-block;
}

.main {
  margin: 0 auto;
}

/* header */
header {
  background: #131521;
  height: 60px;
  width: 100%;
}

.game-title {
  color: #fff;
  line-height: 60px;
}

.logo {
  margin: 10px auto;
  flex-grow: 1;
  padding-right: 42px;
}

.logo-img {
  height: 40px;
}

.s-lang {
  width: 40px;
}

/* userbar */
.user-m {
  height: 40px;
  padding: 5px 0;
  background: #fff;
}

.user-n {
  width: 50%;
  color: #d48986;
  line-height: 30px;
  border-right: 1px solid #657682;
  padding: 0 5px;
}

.user-w {
  width: 50%;
  color: #737476;
  line-height: 30px;
  padding: 0 5px;
}

.user-img {
  height: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

.user-w span {
  text-decoration: underline;
}

/* game */
.game {
  background: url(../images/bj.png) center 46% no-repeat;
  background-size: cover;
  padding-bottom: 60px;
}

.gm-btn {
  width: 40px;
  padding: 2px 1px;
}

/* game-main */
.game-b {
  min-height: 210px;
}

.game-dice {
  font-family: 'blue-font';
  color: #fff;
  align-items: center;
}

.game-dice .dice {
  padding: 0 5px;
  width: 30%;
}

.dice-num {
  width: 35%;
  text-align: center;
  justify-content: center;
}

.num-l,
.ltgt {
  font-size: 46px;
  text-shadow: -2px 2px 0 #000;
  padding: 0 0 10px;
}

.num-text {
  font-size: 10px;
  white-space: nowrap;
  zoom: 0.8;
}

.dice-bar-b {
  font-family: 'blue-font';
  color: #fff;
  padding: 0 12px 10px;
}

.db-tb {
  padding: 0 0 5px;
}

.dbs-text {
  text-align: center;
}

.uv-switch {
  background: url(../images/Di_di_bai.png) center no-repeat;
  background-size: 100% 100%;
  align-self: center;
  height: 38px;
  line-height: 34px;
  padding: 2px 2px;
}

.switch-btn {
  color: #1f99b4;
  width: 50%;
  padding: 0 18px;
  font-size: 12px;
}

.switch-btn.active {
  background: url(../images/Di_di_lv.png) center no-repeat;
  background-size: 100% 34px;
  color: #fff;
}

.bdz {
  font-size: 24px;
}

.hsz {
  opacity: .5;
  zoom: 0.8;
}

.dice-bar {
  margin-bottom: 10px;
}

.db-t-b {
  position: relative;
  height: 32px;
  width: 100%;
}

.db-text {
  opacity: .5;
  zoom: 0.8;
  position: absolute;
  top: 12px;
}

.db-text-0 {
  left: 0;
}

.db-text-25 {
  left: 25%;
  transform: translateX(-50%);
}

.db-text-50 {
  left: 50%;
  transform: translateX(-50%);
}

.db-text-75 {
  left: 75%;
  transform: translateX(-50%);
}

.db-text-100 {
  right: 0;
}

.db-b {
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.bar-none {
  background: url(../images/Di_tiao_bai.png) center center repeat-x;
  background-size: auto 100%;
  width: 100%;
  height: 14px;
  border-radius: 7px;
}

.bar-active {
  background: url(../images/Di_tiao_lv.png) center center repeat-x;
  background-size: auto 100%;
  position: absolute;
  left: 0px;
  top: 10px;
  width: 50%;
  height: 14px;
  border-radius: 7px;
}

.bar-stop-l {
  position: absolute;
  top: 0;
  left: 3%;
  height: 34px;
}

.bar-stop-r {
  position: absolute;
  top: 0;
  right: 3%;
  height: 34px;
}

.bar-stop-l img,
.bar-stop-r img {
  height: 34px;
}

.bar-point {
  position: absolute;
  width: 30px;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);
}

/* bet-menu */
.bet-menu {
  background: url(../images/bet/ty_db.png) top center no-repeat;
  background-size: 100% 100%;
  margin-top: -60px;
  padding: 24px 12px 0;
  color: #fff;
}

.bm-bg {
  background: #f8fdfe;
  border-radius: 18px 18px 0 0;
  padding: 0 0 9px;
}

.bm-up {
  padding: 10px 0;
}

.bet-menu-l, .bet-menu-r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bet-menu-c {
  padding: 7px 0;
  flex-grow: 1;
  text-align: center;
}

.ba {
  background: #657682;
  border-radius: 10px;
  box-shadow: inset 0 0 7px rgb(0 0 0 / 50%);
  background-size: 100% 100%;
  height: 100%;
  padding: 5px 15px;
}

.ba-m {
  font-family: 'blue-font';
  text-shadow: 1px 1px 0 #000;
  font-size: 22px;
  padding: 5% 0;
}

.ba-text {
  color: #a2a8a9;
  border-top: 1px solid #a2a8a9;
  font-size: 18px;
  padding: 4% 0;
}

.sbtn {
  text-align: center;
  padding: 7px 10px;
}

.btn-c {
  background: url(../images/bet/btn_c.png) center no-repeat;
  background-size: 100% 100%;
  font-family: 'blue-font';
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 44px;
}

.sb-img {
  height: 36px;
  display: block;
}

.bet-btn {
  background: url(../images/bet/Di_tiao_bet.png) center no-repeat;
  background-size: 100% 100%;
  font-family: 'blue-font';
  text-align: center;
  width: 96%;
  width: calc(100% - 16px);
  height: 60px;
  line-height: 60px;
  font-size: 26px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  margin: 0 8px;
}

.bet-btn-d {
  background: url(../images/bet/Di_tiao_bh.png) center no-repeat;
  background-size: 100%;
}

/* bet-tabel */
.bet-table {
  display: table;
  width: 100%;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  background: #24a5c1;
  padding: 0 0 5px;
}

.bt-title {
  background: url(../images/table/tiao.png) repeat-x;
  background-size: auto 100%;
  display: table-header-group;
  font-family: 'blue-font';
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #0e416a;
  color: #fff;
}

.btt-th {
  display: table-cell;
  padding: 10px 15px;
}

.bt-row {
  display: table-row-group;
  font-family: 'blue-font';
  letter-spacing: 1px;
  text-shadow: 1px 1px 0 #0e416a;
  color: #fff;
}

.btt-td {
  display: table-cell;
  padding: 7px 15px;
}

.text-green {
  color: #74ff00;
}

.text-red {
  color: #ff0f23;
}

.user-pc {
  align-items: center;
}

.user-img-pc {
  color: #fff;
  padding-right: 20px;
  display: flex;
  align-items: center;
}

@media (min-width:769px) {
  .hide-in-pc {
    display: none;
  }

  body {
    background: url(../images/b5.png) top center no-repeat fixed;
    background-size: cover;
  }

  .game-title {
    font-size: 30px;
  }

  .contant {
    max-width: 1024px;
    margin: 20px auto;
    width: 100%;
  }

  .blue-bg-pc {
    background:
      url(../images/blue-bg-pc/blue_bg_lb.png) left bottom no-repeat,
      url(../images/blue-bg-pc/blue_bg_lt.png) left top no-repeat,
      url(../images/blue-bg-pc/blue_bg_rt.png) right top no-repeat,
      url(../images/blue-bg-pc/blue_bg_rb.png) right bottom no-repeat,
      url(../images/blue-bg-pc/blue_bg_t.png) center top repeat-x,
      url(../images/blue-bg-pc/blue_bg_l.png) left center repeat-y,
      url(../images/blue-bg-pc/blue_bg_r.png) right center repeat-y,
      url(../images/blue-bg-pc/blue_bg_b.png) center bottom repeat-x,
      #2DC6D9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
    border-radius: 21px;
    padding: 20px;
  }

  .blue-bg-inner-pc {
    background: #E3FDFB;
    border-radius: 15px;
    padding: 3px 10px;
  }

  /* game */
  .pc-game-box {
    display: flex;
    margin-bottom: 10px;
  }

  .bet-game {
    flex-grow: 1;
  }

  .game {
    border-radius: 15px 15px 0 0;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .game-menu {
    padding: 12px 20px;
  }

  .gm-btn {
    width: 47px;
  }

  /* game-main */
  .game-dice {
    justify-content: space-between;
  }

  .game-dice .dice {
    max-width: 200px;
  }

  .num-l, .ltgt {
    font-size: 70px;
  }

  .num-text {
    font-size: 18px;
  }

  .dice-bar-b {
    padding: 30px 50px 20px;
  }

  .db-tb {
    padding-bottom: 15px;
  }

  .uv-switch {
    width: 180px;
    height: 52px;
    line-height: 47px;
  }

  .switch-btn {
    height: 47px;
    padding: 0;
    font-size: 18px;
  }

  .switch-btn.active {
    background-size: 100% 100%;
  }

  .hsz {
    zoom: 1;
  }

  .db-t-b {
    padding-bottom: 42px;
  }

  .db-text {
    opacity: 1;
    zoom: 1;
  }

  /* bet-menu */
  .bet-menu {
    margin: 0;
    background: transparent;
    padding: 0;
  }

  .bm-bg {
    display: flex;
    align-items: stretch;
    padding: 0 4% 0 3%;
  }

  .bm-up {
    padding: 10px;
    flex-grow: 1;
  }

  .ba {
    padding: 5px 25px;
  }

  .ba-m {
    padding: 10px 0;
  }

  .ba-text {
    padding: 10px 0;
  }

  .bet-btn {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    background: url(../images/bet/Di_tiao_bet_pc.png) center no-repeat;
    background-size: 100% 100%;
    width: 30%;
    flex-grow: 1;
    max-width: 30%;
  }

  .bet-tabs {
    position: relative;
    width: 100%;
    padding-bottom: 7px;
    margin-top: -6px;
    margin-bottom: 8px;
  }

  /* bet-tabel */
  .bet-tab-bar {
    position: absolute;
    width: 80px;
    height: 4px;
    background: #fff;
    border-radius: 10px;
    left: 19px;
    bottom: 0;
  }

  .bet-tab-btn {
    color: #585858;
    padding: 0 20px;
    line-height: 30px;
    transition: all .3s;
    cursor: pointer;
  }

  .bet-tab-btn.active {
    color: #fff;
    font-size: 20px;
  }

  .bet-tab-btn:hover {
    color: #fff;
    font-size: 20px;
  }

  .bet-table {
    background: transparent;
  }

  .bt-title, .bt-row {
    background: transparent;
    font-family: Microsoft YaHei, 'PingFangSC-Regular';
    text-shadow: none;
    color: #657682;
  }

  .btt-th {
    border-bottom: 1px solid;
  }

  .text-green {
    color: #00c228;
  }

  .pc-side-menu {
    max-width: 230px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  }

  .side-user {
    padding: 10px 7px;
    margin-bottom: 20px;
  }

  .side-user .user-n {
    border: 0;
    width: 100%;
    padding-bottom: 5px;
    font-size: 18px;
  }

  .side-user .user-w {
    width: 100%;
    color: #585858;
    font-size: 18px;
  }

  .side-user .user-w span {
    text-decoration: none;
  }

  .side-user .currency {
    font-size: 13px;
    margin-left: 6px;
  }

  .side-seed {
    padding: 10px 9px;
    flex-grow: 1;
  }

  .ss-title {
    display: flex;
    align-items: center;
    border-bottom: 3px dashed #A0A0A0;
    padding: 0 5px 10px;
  }

  .ss-title img {
    width: 25px;
    margin-right: 9px;
  }

  .ss-tabs {
    position: relative;
    align-items: center;
    margin-top: 8px;
  }

  .st-active-bar {
    position: absolute;
    bottom: 4px;
    width: 58px;
    height: 2px;
    left: 13px;
    background: #585858;
  }

  .st-item {
    color: #718593;
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
  }

  .st-item.active {
    font-size: 16px;
    margin-right: 20px;
    color: #585858;
  }

  .ss-label {
    color: #585858;
    font-size: 14px;
    padding: 15px 0 10px;
    display: flex;
    align-items: center;
  }

  .ss-value {
    background: #657682;
    border-radius: 8px;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 50%);
    padding: 0 10px;
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }

  .ss-value span {
    color: #9DBACE;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 88%;
    font-size: 12px;
  }

  .ss-copy-btn {
    padding: 0;
  }

  .ss-copy-btn img {
    width: 15px;
    vertical-align: middle;
  }

  .ss-update-btn {
    padding-left: 5px;
  }

  .ss-update-btn img {
    width: 20px;
    vertical-align: middle;
  }

  .d-flex .ss-value {
    width: 49%;
  }

  .ss-v-btn {
    background: #2dc6d9;
    box-shadow: inset 0 -3px 7px rgb(0 0 0 / 20%);
    width: 49%;
    margin-left: 2%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }

  .ss-v-btn:hover {
    background: #39cfdd;
  }
}

@media (min-width: 1023px) {
  .num-l, .ltgt {
    font-size: 100px;
  }

  .bet-btn {
    max-width: 25%;
    width: auto;
  }

  .bm-bg {
    padding: 0 60px 0 50px;
  }
}

@media (max-width:768px) {
  .hide-in-m {
    display: none;
  }
}